@font-face {
  font-family: "poppins";
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/Poppins-Regular.woff) format("woff");
}

@font-face {
  font-family: "poppins";
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/Poppins-Bold.woff) format("woff");
}

body,
button,
input {
  font-family: "poppins";
}
button,
input {
  border: 0;
  outline: 0;
}
